div.global-container {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: stretch;
    overflow-x: hidden;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: stretch;
}

.switch-enter {
    transform: translateY(1000px);
  }
  
  .switch-enter.switch-enter-active {
    transform: translateY(0px);
    transition: transform 500ms ease-in;
  }
  
  .switch-leave {
    transform:translateY(0px);
  }
  
  .switch-leave.switch-leave-active {
    transform: translateY(-1000px);
    transition: transform 500ms ease-out;
  }

